body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: ultra;
  src: url(./Rick-and-Morty-Font/get_schwifty.ttf);
}

.welcome{
  font-family: ultra;
  font-size: 9rem;
  color: rgb(26, 146, 26);
  text-align: center;
}

p {
  font-size: 5rem;
  color: rgb(0, 195, 195);
}

.link {
  font-size: 3rem;
}